body {
    background-color: #93d8f7;
    color: #000000;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-size: cover;
    margin: 0;
}

.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #6495ed;
    text-align: center;
    height: 2%;
    margin: 0;
}

.backgroundcar{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 70%;
    filter: brightness(50%);
    z-index: -1;
    background-repeat: no-repeat;
}

.mainmenu{
    color: white;
    position: relative;
    top: -20;
}

.mainmenu>p{
    font-size: 24px;
}
.mainmenu>h1{position: relative;
    top: 100px;
}

.stolog {
    margin-left: -85%;
}

.sto {
    margin-top: -55px; 
    margin-left: 400px;
    color: #ffffff;
}

.menu_bar {
    z-index: 1;
    position: relative;
    left: 0;
    bottom: -280px;
    border-radius: 25px;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
}

.menu_bar a {
    text-decoration: none;
    color: white;
}
  
.menu_bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.menu_bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
}

.menu_bar li:hover {
    color: black;
}

.menu_bar li:hover::before {
    background: linear-gradient(to bottom, cornflowerblue, #11b4ff);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
}

.main {margin-top: 500px;
    background-color: #4c5867;
    color: rgb(255, 255, 255);
    padding: 0px;
    height: 4042px;
    text-align: center;
}

.main2{
    background-color: #4c5867;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: -35px;
    height: fit-content;
    text-align: center;
    
}

.ramkaZ{
    background-color: #99a6b3;
    outline: solid 6px #dee0e6;
    border-radius: 1px;
    height: 310px;
    width: 760px;
}

.ramkaZ2{background-color: #99a6b3;
    position: relative;
    
    border-radius: 1px;
    width: 760px;
    height: 500px;
    outline: solid 6px #dee0e6;
}

input{
    height: 45px;
    width: 90%;
    line-height: 16px;
    border-radius: 5px;
    border: 2px solid white;
    padding-left: 25px;
}

.zakaz {
    width: 100%;
    position: relative;
    margin: 0px auto;
    top: 100px;
    text-align: center;
}

.status{
    padding: 10px;
    position: relative;
    margin: 0 auto;
    
}

.zakaz h1 {
    color: cornflowerblue;
}

.submit1 {
    background-color: cornflowerblue;
    border-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    outline: solid white 2px;
    padding: 10px;
}

.submit1:hover {
    transition: .7s;
    transform: scale(.9);
}

.submit1 {
    text-decoration: none;
    color: white;
}

.zapzav {
    margin-top: 20%;
}

.forma2 {
    padding: 100px;
}

.submit2 {
    background-color: cornflowerblue;
    border-color: transparent;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px;
    outline: solid white 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.submit2:hover {
    transition: .7s;
    transform: scale(.9);
}
  
.pereh {
    padding-top: 200px;
}

.bg_car2 {
    opacity: 33%;
    width: 100%;
    background-size: cover;
}

.pereh p {
    margin-top: -30%;
    color: white;
    font-size: 50px;
}

.maps {
    padding-top: 40%;
    color: white;
    font-size: 35px;
}

.maps .city1{
    font-size: 25px;
}

.city1 {
    padding-top: 100px;
    margin-right: 50%;
}

.maps .city2 {
    font-size: 25px;
}

.city2 {
    margin-top: -313px;
    margin-left: 50%;
}

.hr1 {
    margin-top: 400px;
    margin-bottom: 100px;
    height: 1px;
}

.svyaz {
    font-size: 20px;
}

.about_us {
    top: 300px;
}

.coops {
    list-style-position: inside;
}

.coops li {
    text-align: center;
}

footer {
    position: relative;
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 1000%;
}
.luchotzyv {
    position: relative;
    top: 100px;
}
.otzyv1 {
    position: relative;
    left: 165px;
    top: -20px;
    outline: solid 4px #222222;
    max-width: 450px;
    float: left;
    height: 210px;
    border-radius: 5px;
    margin: 30px;
    background-color: #dee0e6;
    font-size: 15px;
}

.otzyv1>img {
    float: left;
    margin: 15px;
    height: 50px;
    width: 50px;
    outline: solid 1px black;
}

.otzyv1R {
    position: relative;
    top: 0;
    height: 110px;
    padding: 15px;
    float: inline-end;
    margin: 10px;
    border-radius: 10px;
    background-color: #4c5867; 
}

.otzyv1R>p {
    position: relative;
    top: -15px;
    height: 90px;
}

.bestotz {
    display: flex;
    background-color: #222222;
}

.bestotz>img {
    filter: invert(1.2);
}

.like {
    color: #000000;
    position: relative;
    left: 25%;
    margin-top: 12px;
    background-color: #fff;
    width: 65px;
    height: 25px;
    border-radius: 5px;
}

.like>img {
    margin: 5px;
    float: left;
}

.like>p {
    margin: 5px 10px;
}

.dislike {
    color: #000000;
    position: relative;
    left: 30%;
    margin-top: 12px;
    background-color: #fff;
    width: 65px;
    height: 25px;
    border-radius: 5px;
}

.dislike>img{
    margin: 5px;
    float: left;
}

.dislike>p{
    margin: 5px 10px;
}

.dvefigni {
    position: absolute;
    right: 50px;
    top: 60px;
    font-size: 28px;
    text-transform: uppercase;
    word-spacing: 10px;
    margin-top: -2%;
}
.dvefigni>a{color: white;
    text-decoration: none;
}
.dvefigni>a:hover{
    text-decoration: underline;
}
#modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
#modal:target{
visibility: visible;
opacity: 1;
z-index: 100;
}
#modal .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 0;
    
}
#teh{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
#teh:target{
visibility: visible;
opacity: 1;
z-index: 100;
}
#teh .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 0;
    
}
.modal-window{color: white;
    position: relative;
    z-index: 2;
    width: 550px;
    background: #99a6b3;
    outline: solid #4c5867 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
    
}
.modal-window>p{text-align: center;
    padding: 10px 10px 10px 20px;
    font-size: 27px;
}
.modal-window>h2{
    font-size: 30px;
    padding: 0;
    color: #6495ed;
    margin: 0;
    background-color: #4c5867;
}
.btn-close{position: relative;
    text-decoration: none;
    padding: 5px 12px 5px 12px ;
    cursor: pointer;
    top: -10px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: #11b4ff;
    opacity: 0.7;
}
.btn-close:hover{
    opacity: 1;
}